<!DOCTYPE html>
<html lang="<%= process.env.APP_MAIN_LOCALE %>" data-theme="auto">
    <head>
        <meta charset="utf-8">
        <title>ION Testnet Explorer</title>
        <meta name="description" content="Explore the Ice Open Network blockchain effortlessly with ION Explorer, where you can track transactions, addresses, pools, nominators, and stay updated on the latest developments.">
        <meta property="og:site_name" content="ionscan">

        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, viewport-fit=cover">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="format-detection" content="telephone=no">

        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="192x192" href="/192x192.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#12033F">
        <link rel="shortcut icon" href="/favicon.ico">
        <meta name="apple-mobile-web-app-title" content="ION Explorer">
        <meta name="application-name" content="ION Explorer">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/mstile-144x144.png">
        <meta name="msapplication-config" content="/browserconfig.xml">

        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <meta name="theme-color" media="(prefers-color-scheme: light)" content="#ffffff">
        <meta name="theme-color" media="(prefers-color-scheme: dark)" content="#0f0f0f">
        <meta name="google" content="notranslate">

        <link crossorigin rel="preload" href="<%= require('@fonts/rubik/rubik-latin-400.woff2') %>" as="font" type="font/woff2">
        <link crossorigin rel="preload" href="<%= require('@fonts/rubik/rubik-400.woff') %>" as="font" type="font/woff2">
        <link crossorigin rel="preload" href="<%= require('@fonts/rubik/rubik-latin-500.woff2') %>" as="font" type="font/woff2">
        <link crossorigin rel="preload" href="<%= require('@fonts/rubik/rubik-cyrillic-400.woff2') %>" as="font" type="font/woff2">
        <link crossorigin rel="preload" href="<%= require('@fonts/rubik/rubik-500.woff') %>" as="font" type="font/woff2">

        <% for (var js in htmlWebpackPlugin.files.js) { %>
            <link rel="preload" href="<%= htmlWebpackPlugin.files.js[js] %>" as="script">
        <% } %>

        <% for (var css in htmlWebpackPlugin.files.css) { %>
            <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css[css] %>">
        <% } %>
    </head>
    <body>
        <% if (process.env.TESTNET) { %>
            <div style="text-align: center;padding: 14px;background: #960b0b;color: #FFF;font-weight: 500;">
                ⚠️ Attention! This is a testnet version ⚠️
            </div>
        <% } %>

        <div id="app"></div>

        <% for (var js in htmlWebpackPlugin.files.js) { %>
            <script src="<%= htmlWebpackPlugin.files.js[js] %>"></script>
        <% } %>

        <% if (process.env.APP_ENV === 'production') { %>
            <% if (process.env.SENTRY_DSN) { %>
                <script crossorigin="anonymous" src="<%= process.env.SENTRY_DSN %>" onload="Sentry.init()"></script>
            <% } %>

            <% if (process.env.CLOUDFLARE_INSIGHTS_TOKEN) { %>
                <script defer
                    src="https://static.cloudflareinsights.com/beacon.min.js"
                    data-cf-beacon='{"token": "<%= process.env.CLOUDFLARE_INSIGHTS_TOKEN %>"}'></script>
            <% } %>
        <% } %>
    </body>
</html>
